<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/print.css' | relative_url }}" media="print">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

{% seo %}
    {% include head-custom.html %}
  </head>

  <body>
    <div id="container">
      <div class="inner">

        <header>
          <h1 class="text-left">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
          <h2 class="text-left">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
        </header>
        <hr>
        <section id="main_content">
          {{ content }}
        </section>

        <footer>
            <div class="text-right">Copyright (c) Accelerated Turn LLC</div>
        </footer>

      </div>
    </div>
  </body>
</html>